<%- model_class = Box -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:box_number) %></th>
      <th><%= model_class.human_attribute_name(:lat) %></th>
      <th><%= model_class.human_attribute_name(:long) %></th>
      <th><%= model_class.human_attribute_name(:donations_sum) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @boxes.each do |box| %>
      <tr>
        
        <td>
          <%= fa_icon(:circle, class: box.online? ? 'text-success' : 'text-danger') %>
          <%= link_to box.location, box_path(box)  %>
        </td>
        <td><%= box.city %></td>
        <td><%= box.id %></td>
        <td><%= box.lat %></td>
        <td><%= box.long %></td>
        <td><%= box.sum_donations %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      box_path(box), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_box_path(box), :class => 'btn btn-default btn-xs' %>
          <%# link_to t('.destroy', :default => t("helpers.links.destroy")),
                      box_path(box),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_box_path,
            :class => 'btn btn-primary' %>

<div id="map"></div>

<script>

      function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
</script>