<!DOCTYPE html>
<html>
  <head>
    <title>Lastefond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header"> 
        <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8" aria-expanded="false"> 
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span> 
        </button> 
          <%= link_to("Lastefond", root_url, class: 'navbar-brand') %>
        </div> 
        <div class="navbar-left">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8"> 
          <ul class="nav navbar-nav"> 
            <li><%= link_to('Boxes', boxes_path) %></li> 
            <li><%= link_to('Donators', donators_path) %></li> 
            <li><%= link_to('Donations', donations_path) %></li> 
          </ul> 
        </div> 
        </div> 
        <p class="navbar-text navbar-right">Total: <%= Donation.sum(:amount) %></p>
      </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        
          <%= yield %>
        </div>
      </div>
  </div>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initMap" %>    
  </body>
</html>
